{{ define "main" }}

{{ partial "banner.html" . }}

{{ partial "navigation.html" . }}

{{ partial "About us.html" . }}

{{ partial "feature.html" . }}

{{ partial "cta.html" . }}

{{ partial "Service.html" . }}

{{ partial "skill.html" . }}

{{ partial "portfolio.html" . }}

{{ partial "funfacts.html" . }}

{{ partial "Our team.html" . }}

{{ partial "Pricing & Quotation.html" . }}

{{ partial "testimonial.html" . }}

{{ partial "News.html" . }}

{{ partial "Contact us.html" . }}

{{ partial "map.html" . }}

{{ end }}
